<!-- Hay varias formas de usar los ng, combinando con lo que traes del .ts -->
<!-- ANGULAR 16 -->
<p> ------------------ ANGULAR 16 ------------------ </p>

<div appStudents>

    <p [ngClass]="true ? 'success' : 'error'" [ngStyle]="{fontSize: myFontSize + 'px' }">students works!</p>

    <p [ngStyle]="{fontSize: myFontSize2 }">students 2</p>

    <p [ngClass]="{ error: hayError, success: !hayError}">students 3</p>

    <p [style.font-size]="size ? 'x-large' : 'smaller' ">students 4</p>

<button (click)="toggleError()" type="button" >Alternar</button>

</div>


<ul>
    <li *ngFor="let student of ['Katniss', 'Triss', 'Alicia']">
        {{student}}
    </li>
    <li *ngFor="let student2 of studentsArr">
        {{student2}}
    </li>
</ul>

<div *ngIf="!studentsArr.length">No hay estudiantes...</div>


<div *ngIf="loading; else listaEstudiantes"> Cargando estudiantes...</div>

<ng-template #listaEstudiantes>
    <ul>
        <li *ngFor="let student2 of studentsArr4">
            {{student2}}
        </li>
    </ul>
</ng-template>

<div [ngSwitch]="status">
    <div *ngSwitchCase="'APPROVED'">APROBADO</div>
    <div *ngSwitchCase="'REJECTED'">RECHAZADO</div>
    <div *ngSwitchDefault >DESCONOCIDO</div>
</div>


<p> ------------------ ANGULAR 16 ------------------ </p>
<!-- ANGULAR 16 -->

<!-- ANGULAR 17 -->
<p> ------------------ ANGULAR 17 ------------------ </p>

@if(loading){
<div>Cargando estudiantes...</div>
} @else {
<ul>
    @for(student of studentsArr3; track $index) {
    <li> {{$index}} - {{student}} </li>
    } @empty { No hay estudiantes... }
</ul>
}

@switch (status) {
    @case ('APPROVED') {
        APROBADO
    }
    @case ('REJECTED') {
        RECHAZADO
    }
    @default {
        Desconocido
    }
}
<p> ------------------ ANGULAR 17 ------------------ </p>
<!-- ANGULAR 17 -->