<!-- Hay varias formas de usar los ng, combinando con lo que traes del .ts -->

<div appStudents>

    <p [ngClass]="true ? 'success' : 'error'" [ngStyle]="{fontSize: myFontSize + 'px' }">students works!</p>

    <p [ngStyle]="{fontSize: myFontSize2 }">students 2</p>

    <p [ngClass]="{ error: hayError, success: !hayError}">students 3</p>

    <p [style.font-size]="size ? 'x-large' : 'smaller' ">students 4</p>
</div>


<!-- ANGULAR 16 -->
<ul>
    <li *ngFor="let student of ['Katniss', 'Triss', 'Alicia']">
        {{student}}
    </li>
    <li *ngFor="let student2 of studentsArr">
        {{student2}}
    </li>
</ul>
<div *ngIf="!studentsArr.length" >No hay estudiantes...</div>
<!-- ANGULAR 16 -->
<!-- ANGULAR 17 -->
<ul>
    @for(student of studentsArr; track $index) {
    <li>
        {{$index}} - {{student}}
    </li>
    } @empty {
    No hay estuudiantes...
    }
</ul>
<!-- ANGULAR 17 -->