*{
    border: 1px solid red;
}

main div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    app-toolbar{
       
        grid-column-start: span 3;
        grid-row-start: span 1;
        // width: 100%;
    }
    
    app-sidebar{
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    app-content{
        grid-column-start: span 2;
        grid-row-start: span 1;
    }
}