header {
  border: 5px solid black;
  padding: 1%;
//   margin: 5px;
  nav {
    display: flex;
    justify-content: space-around;
    ul {
      display: flex;
      justify-content: space-around;
      width: 50%;
    }
  }
}
