header nav {
  display: flex;
  justify-content: space-around;
  ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    // background-color: yellow;
  }
//   li{
//     padding-left: 8%;
//   }
}
